<section class="container">
    <h2 class="text-center mb-4">Get in Touch</h2>
    <p class="text-center">Have any questions or feedback? Contact us using the email address below.</p>
  
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Email Address</h5>
            <p class="card-text">nk.doing.api@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  