<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Login</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Log in to your account using your username and password.</p>
  </div>
</div>

<div class="row justify-content-center">
  <% if(infoSubmitObj != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%= infoSubmitObj %>
    </div>
  <% } %>

  <% if(infoErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoErrorsObj[0].message %>
    </div>
  <% } %>
  
  <div class="col-8">
    <form action="/auth/login" method="POST">
      <div class="row g-3">
        <div class="col-12">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" id="username" class="form-control" required>
        </div>
      
        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>
  
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
